.box .text-1 {

    position: absolute;
    background-color: #4aaaa5
    z-index: 999;
    margin-right: 59%;
    margin-left: 1%;
    float: left;
    left: 0;
    right: 0;        
    text-align: center;
    top: 20%; 
    background: rgba(45, 151, 142, 0.8);
    font-family: Arial,sans-serif;
    color: #fff;
    width: 27%; /* Set the width of the positioned div */
}

.box .text-2 {
        position: absolute;
        z-index: 999;
        margin-left: 30%;
        left: 0;
        right: 3;        
        text-align: center;
        top: 20%; 
        background: rgba(45, 151, 142, 0.8);
        font-family: Arial,sans-serif;
        color: #fff;
        width: 27%; /* Set the width of the positioned div */
}
.box .text-3 {
    position: absolute;
    z-index: 999;
    margin-left: 59%;
    left: 0;
    right: 6;     
    text-align: center;
    top: 20%; /* Adjust this value to move the positioned div up and down */
    background: rgba(45, 151, 142, 0.8);
    font-family: Arial,sans-serif;
    color: #fff;
    width: 27%; /* Set the width of the positioned div */
}
.box .text-4 {
    position: absolute;
    z-index: 999;
    margin-right: 56%;
    margin-left: 1%;
    left: 0;
    right: 0;        
    text-align: center;
    top: 70%; /* Adjust this value to move the positioned div up and down */
    background: rgba(45, 151, 142, 0.8);
    font-family: Arial,sans-serif;
    color: #fff;
    width: 27%; /* Set the width of the positioned div */